# <center>CHALLENGE 4.1<center>

<p>Team Name: FOXHOUND
<p>Student Names: Devin Ford, Derrick Poon, Anna Valdez
<p>Student W#s:

## Instructions
Use <b>generic</b> coding style unless hard-coded values are really necessary.<br>
Your code must be efficient and use self-explanatory naming.<br>
Use appropriate Python library methods for each task instead of using loops.<br>
Run your entire code and save <b>BEFORE</b> submitting. Then, submit this <b>saved</b> copy.

## Definitions

AGE_12   : Passengers with age in \[1, 13)<br>
AGE_TEEN : Passengers with age in \[13, 20)<br>
AGE_YOUNG: Passengers with age in \[20, 31)<br>
AGE_OTHER: Passengers with age >= 31

## Imports

In [2]:
import pandas as pd
import os

## Loading Data

Load "titanic.csv" into the data frame object "data"</br>
[train.csv](https://github.com/wesm/pydata-book/blob/2nd-edition/datasets/titanic/train.csv)

In [3]:
data = pd.read_csv("train.csv")
print(data)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

## Calculate Counts

Calculate joint counts for each {Survived_i, Age_j}, i = {Yes, No}, j = {_12, _Teen, _Young, _Other}:

In [4]:
ageHeader = ['Age_12', 'Age_Teen', 'Age_Young', 'Age_Other']
ageSeparator = [1, 13, 20, 31, 200]

data['AgeGroup'] = pd.cut(data['Age'], bins=ageSeparator, labels=ageHeader)

survivalAgeJointCounts = pd.crosstab(index=data['Survived'], columns=data['AgeGroup'], margins=True, margins_name='TOTAL')
survivalAgeJointCounts = survivalAgeJointCounts.iloc[[1, 0, 2]]
survivalAgeJointCounts.columns.name = 'Count'

print(survivalAgeJointCounts)

Count     Age_12  Age_Teen  Age_Young  Age_Other  Total
Survived
1             30        40         92        116    278
0             27        68        157        170    422
Total         57       108        249        286    700

Calculate marginal counts for survive categories:

In [5]:
print(survivalAgeJointCounts.iloc[:2, 4])

Survived
1    278
0    422
Name: Total, dtype: int64

Calculate marginal counts for age categories:

In [6]:
print(survivalAgeJointCounts.iloc[2, :4])

Count
Age_12        57
Age_Teen     108
Age_Young    249
Age_Other    286
Name: Total, dtype: int64

Calculate total count of samples:

In [7]:
print(survivalAgeJointCounts.iloc[-1, -1])

700

Store all of the counts calculated above into the data frame "Count"<br>
.    Column headers: Age categories and TOTAL<br>
.    Row headers: survive categories, TOTAL<br>
Print the object Count's content:

In [8]:
Count = survivalAgeJointCounts
print(Count)

Count     Age_12  Age_Teen  Age_Young  Age_Other  Total
Survived
1             30        40         92        116    278
0             27        68        157        170    422
Total         57       108        249        286    700

Save Counts into the text file "Count.csv" under the folder "OUTPUT".<br>
.    Column headers: Age categories and TOTAL<br>
.    Row headers: survive categories, TOTAL:

In [9]:
survivalAgeJointCounts.to_csv("Count.csv")

## Calculate Probabilities

Generate the Probability Table T2- P() as described. Store into the data frame object "P". Print the object's content:

In [13]:
P= survivalAgeJointCounts.divide(survivalAgeJointCounts.iloc[-1, -1])
P.columns.name = "Probability"
print(P)

Probability    Age_12  Age_Teen  Age_Young  Age_Other     Total
Survived
1            0.042857  0.057143   0.131429   0.165714  0.397143
0            0.038571  0.097143   0.224286   0.242857  0.602857
Total        0.081429  0.154286   0.355714   0.408571  1.000000

Generate the Probability Table T3_1- P(Survive | Age) as described. Store into the data frame object "P_SgA". Print the object's content:

In [14]:
P_SgA = P.divide(P.iloc[-1, :5])
P_SgA = P_SgA.drop(columns='TOTAL')
P_SgA.columns.name = "T3_1"
print(P_SgA)

T3_1        Age_12  Age_Teen  Age_Young  Age_Other
Survived
1         0.526316   0.37037   0.369478   0.405594
0         0.473684   0.62963   0.630522   0.594406
Total     1.000000   1.00000   1.000000   1.000000

Generate the Probability Table T3_2- P(Survive | Age) P(Age) as described. Store into the data frame object "P_SgA_A". Print the object's content:

In [15]:
P_SgA_A = P_SgA.multiply(P.iloc[-1, :4])
P_SgA_A.columns.name = "T3_2"
print(P_SgA_A)

T3_2        Age_12  Age_Teen  Age_Young  Age_Other
Survived
1         0.042857  0.057143   0.131429   0.165714
0         0.038571  0.097143   0.224286   0.242857
Total     0.081429  0.154286   0.355714   0.408571

Generate the Probability Table T4_1- P(Age | Survive) as described. Store into the data frame object "P_AgS". Print the object's content:

In [22]:
P_AgS = P.divide(P.iloc[:3, -1], axis='rows')
P_AgS = P_AgS.drop(labels='TOTAL')
P_AgS.columns.name = "T4_1"
print(P_AgS)

T4_1        Age_12  Age_Teen  Age_Young  Age_Other  Total
Survived
1         0.107914  0.143885   0.330935   0.417266    1.0
0         0.063981  0.161137   0.372038   0.402844    1.0

Generate the Probability Table T4_2- P(Age | Survive) P(Survive) as described. Store into the data frame object "P_AgS_S". Print the object's content:

In [23]:
P_AgS_S = P_AgS.multiply(P.iloc[:2, -1], axis='index')
P_AgS_S.columns.name = "T4_2"
print(P_AgS_S)

T4_2        Age_12  Age_Teen  Age_Young  Age_Other     Total
Survived
1         0.042857  0.057143   0.131429   0.165714  0.397143
0         0.038571  0.097143   0.224286   0.242857  0.602857

## Compare

Compare the row TOTAL of T3_1- P(Survive | Age) with the row TOTAL of T2- P(). Explain:

In [ ]:
# the T2-P() row TOTAL represents the probability of the different age groups,
# the T3_1 row TOTAL represents the probability of either surviving or not surviving

Compare the row TOTAL of T3_2- P(Survive | Age) P(Age) with the row TOTAL of T2- P(). Explain:

In [ ]:
# the values of row TOTAL of both tables will match because P(Survive, Age) = P(Survive | Age) * P(Age)
# respectively with P(notSurvive, Age) = P(notSurvive | Age) * P(Age)

Compare the column TOTAL of T4_1- P(Age | Survive) with the column TOTAL of T2- P(). Explain:

In [ ]:
# Column TOTAL of T4_1 is total probability of all the age groups given that they survived or not survived,
# column TOTAL of T2 is the probability of surviving or not surviving

Compare the column TOTAL of T4_2- P(Age | Survive) P(Survive) with the column TOTAL of T2- P(). Explain:

In [ ]:
# The values of column TOTAL of both tables will match because P(Survive, Age ) = P(Age | Survive) * P(Survive),
# respectively with P(notSurvive, Age) = P(Age | notSurvive) * P(notSurvive)

## <center> REFERENCES </center>
List resources (book, internet page, etc.) that you used to complete this challenge.